<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-card flat class="q-mb-md">
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        LN Calendar: A scheduling extension that lets you schedule blocks of
        time on your calendar and get paid in Bitcoin.
      </h5>
      <p>
        Allow users to book time slots on your calendar and get paid in sats.
        Like Calendly, but with Bitcoin... and better!
        <br />
        <small class="q-mt-sm">
          Created by,
          <a class="text-secondary" href="https://github.com/talvasconcelos"
            >Tiago Vasconcelos</a
          ></small
        >
      </p>
    </q-card-section>
  </q-card>
  <q-btn
    flat
    label="Swagger API"
    type="a"
    href="../docs#/LNCalendar"
    target="_blank"
    class="q-mb-md"
  ></q-btn>
</q-expansion-item>
