{% extends "public.html" %} {% block page%}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-lg-8">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h4 class="q-mt-none q-mb-md" v-text="schedule.name"></h4>
      </q-card-section>
      <q-separator></q-separator>
      <div class="row q-mt-md">
        <q-card-section class="col-12 col-md-5">
          <div class="text-h6 q-mb-sm">Information</div>
          <div class="q-mb-sm">
            <q-input
              v-model.trim="formDialog.data.name"
              type="name"
              label="Your name "
              :borderless="formDialog.data.name != ''"
            ></q-input>
            <q-input
              class="q-mb-lg"
              v-model.trim="formDialog.data.email"
              type="email"
              label="Your email (optional, if you want a reply)"
              :borderless="formDialog.data.email != ''"
            ></q-input>
            <q-input
              v-model="formDialog.data.text"
              type="textarea"
              label="Write a message (optional)"
              :borderless="formDialog.data.text != ''"
            ></q-input>
          </div>
        </q-card-section>
        <q-card-section class="col-12 col-sm-7 col-md-4">
          <div class="text-h6 q-mb-sm">Select date</div>
          <q-date
            v-model="date"
            :options="availableDaysFn"
            today-btn
            class="full-width"
          ></q-date>
        </q-card-section>
        <q-card-section class="col-12 col-sm-5 col-md-3">
          <div class="text-h6 q-mb-sm">Select time</div>
          <div
            class="column items-center no-wrap scroll"
            style="max-height: 50vh"
          >
            <q-btn-dropdown
              v-for="(slot, i) in timeSlots"
              :key="i"
              class="q-mb-sm"
              :disable="timePassedFn(slot)"
              :outline="timeSlot != slot"
              :color="timePassedFn(slot) ? 'negative' : timeSlot != slot ? 'grey' : 'primary'"
              :label="slot"
              menu-anchor="bottom middle"
            >
              <q-list>
                <q-item clickable v-close-popup @click="bookAppointment(slot)">
                  <q-item-section>
                    <q-item-label>Confirm</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable v-close-popup @click="timeSlot = null">
                  <q-item-section>
                    <q-item-label>Cancel</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card-section>
      </div>
      <q-card-section v-text="appointmentDate"></q-card-section>
      <q-card-section class="row items-end q-mt-lg">
        <q-btn
          unelevated
          color="primary"
          class="q-mr-md"
          @click="createAppointment"
          :disable="!formDialog.data.name || !date || !timeSlot"
          >Submit</q-btn
        >
        <q-btn flat color="grey" @click="resetData">Reset</q-btn>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog v-model="paymentDialog.show" position="top">
    <q-card
      v-if="!paymentDialog.paymentRequest"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
    </q-card>
    <q-card v-else class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-lg">
        <a
          class="text-secondary"
          :href="'lightning:' + paymentDialog.paymentRequest"
        >
          <q-responsive :ratio="1" class="q-mx-xl">
            <lnbits-qrcode
              :value="'lightning:' + paymentDialog.paymentRequest.toUpperCase()"
            ></lnbits-qrcode>
          </q-responsive>
        </a>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText(paymentDialog.paymentRequest)"
          >Copy invoice</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %}
<script>
  const schedule = JSON.parse({{ schedule | tojson }});
  const availableDays = {{ available_days | tojson }};
</script>
<script src="{{ static_url_for('lncalendar/static', path='js/utils.js') }}"></script>
<script src="{{ static_url_for('lncalendar/static', path='js/display.js') }}"></script>
{% endblock %}
